.category__section{
    display: grid;
    justify-items: center;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 4rem 1rem;
}


.category__section h2{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    font-family: var(--font-family);
    color: #5E6282;
    text-transform: uppercase;
}

.category__section h1{
    font-family: 'Volkhov', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-transform: capitalize;
    color: #14183E;
    margin-top: 0.5rem;
    text-align: center;
}

.category__section-content__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;

}

.category__section-content__container-block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 4rem 1rem;
    margin-top: 2rem;
    background: #FFFFFF;
transition: 0.3s ease-in-out;
border-radius: 36px;
cursor: pointer;
}

.category__section-content__container-block:hover{
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.category__section-content__container-block img{
width: 100%;
max-width: 90px;
}

.category__section-content__container-block h3{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #1E1D4C;
    text-transform: capitalize;
    margin-top: 1rem;
}

.category__section-content__container-block p{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #5E6282;
    margin-top: 1rem;
}


.category-active{
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

@media screen and (max-width: 1173px) {
    .category__section-content__container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 1050px) {
    .category__section{
        padding: 2rem 6rem;
    }

}

@media screen and (max-width: 700px) {
    .category__section{
        padding: 2rem 4rem;
    }

    .category__section h1{
        font-size: 40px;
        line-height: 60px;
    }

    .category__section-content__container{
        grid-template-columns: 1fr;
    }


}

@media screen and (max-width: 550px) {
    .category__section{
        padding: 2rem;
    }

    .category__section h1{
        font-size: 30px;
        line-height: 48px;
    }


}
